<p id="notice"><%= notice %></p>

<h1 class="text-primary">Our Bikes</h1>

<div class="container-fluid">
  <% @products.each do |product| %>
  <div class="row">
    <div class="col-xs-6 col-ms-4">
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <h2>Name: <%= product.name %></h2>
      <p>Description: <%= product.description %></p>
      <p>Color: <%= product.color %></p>
      <p>Price: <%= product.price %>
       </p>
    </div>
  </div> <!-- end row -->
  <div class="row">
    <button class="btn btn-primary">
      <%= link_to 'Show', product %>
    </button>
    <button class="btn btn-info">
      <%= link_to 'Edit', edit_product_path(product) %>
    </button>
    <button class="btn btn-danger">
      <%= link_to 'Destroy', product, method: :delete, data: {
        confirm: 'Are you sure?' } %>
    </button>
  </div><!-- end row -->
  <% end %>
</div> <!-- end container-fluid -->

<br>

<%= link_to 'New Product', new_product_path %>
